h1{
 font-size: 3em;
 font-family: "Abril Fatface", serif;
 font-weight: 400;
 font-style: normal;
 padding: 0.5em;


}
body{
    background-color:rgb(235, 237, 190);
}

fieldset{
    padding: 5em;
    margin: 4.5em;
    border-color: rgb(240, 165, 2);
    border-style:double;
}
input{
    margin:2.5em;
    padding:0.2em;
    background-color: rgb(241, 241, 245);
    border-radius: 7px;
    /*border: 2px solid black;*/
}
label ,legend{
    font-size: 2em;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    color: #e8490a;
}

.formulaire {
    display: flex;
    flex-direction: column;
  
   
   
}
.nom{
    display: flex;
    
    align-items: center;
   flex-direction: row;
  
   
}
.prenom{

   margin-left: 40px;
   
}

.mail{
    display: flex;
    align-items: center;
    flex-direction: row;
    
  
   
}

button {
   
    float: right;
   /* background-color: #43d11bac;*/
   margin-top: 2em;
   margin-bottom: 0em;
    background: linear-gradient(rgb(6, 243, 6),rgb(66, 134, 6));
    color: aliceblue;
    border: none;
    border-radius: 15px;
    font-size: 1.5em;

    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

      text-align: end;
      padding: 0.5em;
 
}